@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
  /*font-family: 'JetBrains Mono';*/
  font-family: 'Nunito';
}

/*----------------------------*/
.chapter_diretory{
  margin-left: 25px;
  background-color: #ffe4c4;
}

.chapter_header{
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffe4c4;
}

.chapter_button{
  color:#fff;
  border-radius: 10px;

  width: 60px;
  margin-left: 20px;
  margin-bottom: 12px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  background: #ff7f50;
}

.chapter_button:hover{
  background: #ffad90;
}

.chapter_content_header{
  font-size: 40px;
  padding: 30px;
}

.chapter_content_wordcount{
  font-size: 25px;
  padding: 25px;
}

.chapter_content{
  padding-top: 15px;
  padding-left: 15px;
}

.content{
  background-color: cornflowerblue;
  padding: 15px;
}

.content_button{
  background-color: #ff7f50;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 15px 32px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.content_button:hover{
  background-color: #ffad90;
}

.header{
  padding: 50px;
  font-size: 35px;
  margin-bottom: 50px;
  /*color*/
}

.navigation_bar{ /* div */
  background-color: black;

  margin-bottom: 60px;
}

.navigation_bar_item{ /* li a */
  display: block;
  padding: 10px;
  background-color: aquamarine;
  text-align: center;
}

.navigation_bar_list{ /* ul */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornflowerblue;
}

.navigation_bar_list li{
  float: left;
  border-style: solid;
  border-width: 2px;
}