body{
  font-family: 'JetBrains Mono';
}

/*----------------------------*/
.content{
  background-color: cornflowerblue;
  padding: 15px;
}

.content_button{
  background-color: coral;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.content_button:hover{
  background-color: rgb(255, 173, 144);
}

.header{
  padding: 50px;
  font-size: 35px;
  margin-bottom: 50px;
  /*color*/
}

.navigation_bar{ /* div */
  background-color: black;

  margin-bottom: 60px;
}

.navigation_bar_item{ /* li a */
  display: block;
  padding: 10px;
  background-color: aquamarine;
  text-align: center;
}

.navigation_bar_list{ /* ul */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornflowerblue;
}

.navigation_bar_list li{
  float: left;
  border-style: solid;
  border-width: 2px;
}